<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Cats</h1>
    <div class="row">
        {% for cat in cats %}
            <div class="col-md-4 mb-4">
                <img src="{{ cat.foto }}" alt="{{ cat.name }}" class="img-fluid">
                <p>{{ cat.name }}</p>
            </div>
        {% endfor %}
    </div>

    <h1>Dogs</h1>
    <div class="row">
        {% for dog in dogs %}
            <div class="col-md-4 mb-4">
                <img src="{{ dog.foto }}" alt="{{ dog.name }}" class="img-fluid">
                <p>{{ dog.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5">
    <h1> </h1>
    <form method="post" action="{% url 'feedback' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить FeedBack</button>
    </form>
</div>

</body>
</html>
